ref/
build_test/
daemon/build/
daemon/build-arm/
daemon/test/*.ppm
daemon/test/*.png
core/db/
core/incremental_db/
core/output_files/
core/greybox_tmp/
core/build.log
core/build_id.v
core/*.qws
core/c5_pin_model_dump.txt
core/PLLJ_PLLSPE_INFO.txt
core/hc_output/
core/simulation/
.DS_Store
core/map.log
core/fit.log
core/asm.log
core/sta.log
daemon/test/sessions/
